
body {
  color: $font-color-default;
  font-size: $font-size-default;
  font-family: $font-family-default;
  font-weight: $font-weight-default;
  line-height: $line-height-default;
}

.typography {
  i, em { @extend .italic; }
  b, strong { @extend .bold; }

  h1, .h1 { @extend .h1; margin: 1em 0 0.5em; }
  h2, .h2 { @extend .h2; margin: 1em 0 0.5em; }
  h3, .h3 { @extend .h3; margin: 1em 0 0.5em; }
  h4, .h4 { @extend .h4; margin: 1em 0 0.5em; }
  h5, .h5 { @extend .h5; margin: 1em 0 0.5em; }
  h6, .h6 { @extend .h6; margin: 1em 0 0.5em; }

  p, ul, ol, pre { @extend .block-margins; }

  ul { @extend .unordered-list; }
  ol { @extend .ordered-list; }

  pre, code { @extend .fixed; }
}