//Variables Configuration

//font family default 
$font-family-default: "serif";
$font-weight-default: 400;
$font-size-default: 16px;
$font-color-default: $base-color;

//font family header
$font-family-header-default: "sans-serif";
$font-weight-header-default: 600;
$font-size-header-default: 200%;
$font-color-header-default: darken($font-color-default, 50%);

//## Line height configuration
$line-height-variable:	1.666666667 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-default:  floor(($font-size-default * $line-height-variable)) !default; // ~20px

//Header Configuration
//header size setting
@each $h in h1, h2, h3, h4, h5, h6 {
    #{$h} { 
      font-size: $font-size-header-default;
      }

     $font-size-header-default: $font-size-header-default - 20%;
  }

 //font styles
.italic { font-style: italic; }
.bold   { font-weight: 700; @extend .loud; }
.underline { text-decoration: underline;}

//font technical colors
.quiet { font-color: $quiet-color; }
.loud  { font-color: $loud-color; }